@import "tailwindcss";
html {
    scroll-behavior: smooth;
}

.markdown-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.markdown-content ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.markdown-content a {
    text-decoration: underline;
    font-weight: 500;
}

.markdown-content p {
    margin-bottom: 0.5rem;
}

.markdown-content p:last-child {
    margin-bottom: 0;
}

.markdown-content code {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.1em 0.3em;
    border-radius: 3px;
    font-family: monospace;
}

.markdown-content pre {
    background-color: #1e293b;
    color: #e2e8f0;
    padding: 0.75rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.markdown-content pre code {
    background-color: transparent;
    padding: 0;
    color: inherit;
}
